.campaign {
  background-color: #eee;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.campaign-title {
  font-size: 20px;
}

.campaign-gm {
  font-size: 10px;
}

.campaign button:hover {
  color: skyblue;
  cursor: pointer;
}
