.campaign {
  background-color: #eee;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}

.campaign-title {
  font-size: 20px;
}

.campaign-gm {
  font-size: 10px;
}

.campaign-players {
  font-size: 10px;
  display: flex;
}

.campaign-player {
  margin-left: 6px;
  display: flex;
}

.campaign button {
  height: 25px;
}

.campaign button:hover {
  color: skyblue;
  cursor: pointer;
}

.remove-player-triangle {
  height: 0px;
  width: 0px;
  border-top: 4px solid black;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-top: 4px;
}

.remove-player-triangle:hover {
  border-top: 4px solid skyblue;
  cursor: pointer;
}
