.nav-bar {
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d8d8d8;
}

.nav-bar div {
  margin: 0 5%;
}

.nav-left {
  display: flex;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}

.nav-bar a {
  padding: 1px 7px 2px;
  background-color: white;
  border: 1px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  text-decoration: none;
  color: black;
}

.closed-dropdown {
  display: none;
}

.open-dropdown {
  position: absolute;
}

.nav-bar a:hover {
  cursor: pointer;
  color: skyblue;
}

.nav-bar button:hover {
  cursor: pointer;
  color: skyblue;
}
