.nav-bar {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d8d8d8;
  padding: 0 5%;
}

.nav-left {
  display: flex;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}

.nav-left-home, .nav-left-profile {
  margin-right: 5%;
}

.nav-bar a {
  padding: 1px 7px 2px;
  background-color: white;
  border: 1px solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  text-decoration: none;
  color: black;
}

.closed-dropdown {
  display: none;
}

.open-dropdown {
  position: absolute;
  width: 150px;
}

.dropdown-item {
  background-color: skyblue;
}

.nav-bar a:hover {
  cursor: pointer;
  color: skyblue;
}

.nav-bar button:hover {
  cursor: pointer;
  color: skyblue;
}

.nav-mail {
  position: relative;
}

.nav-mail-button {
  display: flex;
  position: relative;
}

.nav-mail-count {
  position: absolute;
  top: -4px;
  right: -10px;
  background-color: red;
  color: white;
  width: 15px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65%;
}

.nav-mail-count:hover {
  cursor: default;
}

.nav-mail-triangle {
  margin-left: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid skyblue;
}
