.profile {
  padding: 2% 5%;
}

.profile-name {
  font-size: 20px;
}

.profile-home {
  display: flex;
  justify-content: flex-start;
  padding: 2% 8%;
}

.profile-home-list {
  margin-right: 100px;
}

.profile-home-list li {
  margin-left: 10px;
}
