.closed-search {
  display: none;
}

.search-user {
  display: flex;
  justify-content: space-between;
  width: 246px;
  padding: 3px 0 3px 6px;
}

.search-user:hover {
  background-color: skyblue;
}

.search-user button {
  margin-right: 3px;
}

.search-user button:hover {
  color: skyblue;
  cursor: pointer;
}

.search-user span:hover {
  cursor: default;
}

.search-errors {
  margin-top: 5px;
  margin-left: 15px;
  font-size: 75%;
  color: red;
}
